@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #000000;
}

.top-bar {
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

ion-icon {
    font-size: 22px;
}

.top-bar .vertical-border {
    width: 1px;
    height: 22px;
    margin: 0 10px;
    background-color: #DBDBDB;
}

.top-bar-items {
    width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-mobile {
    display: none;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin: 15px 0 10px 0;
}

.search-input input {
    height: 26px;
    width: 215px;
    text-align: center;
    border: 1px solid #DBDBDB;
    outline: none;
}

.right-buttons {
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top: 88px;
    width: 935px;
    display: flex;
    justify-content: space-between;
}

.posts-column {
    width: 614px;
}

.stories-container {
    height: 118px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.stories-container .right-arrow {
    position: absolute;
    top: calc(50% - 26px/2);
    right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.right-arrow ion-icon {
    font-size: 26px;
    color: #ffffff;
}

.story-box {
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.story-box .story-user-pfp {
    width: 66px;
    height: 66px;
    border-radius: 33px;
    background-image: url('../images/stories_background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-box img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.story-box .story-user-username {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.posts {
    margin-top: 24px;
}

.post {
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    background-color: #ffffff;
}

.post-top {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.post-top .options-icon ion-icon {
    font-size: 16px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.user-info h2 {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
}

.post-midia img,
.post-midia video {
    width: 100%;
    max-height: 612px;
    object-fit: cover;
}

.post-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 76px;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
}

.post-buttons .left-buttons {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.post-interactions {
    padding: 10px 15px;
}

.post-likes {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-likes img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.post-likes h3 {
    margin-left: 5px;
    font-size: 14px
}

.post-likes h3 strong {
    font-weight: 500;
}

.post-comments {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.post-comments h3 {
    color: #8e8e8e;
}

.post-comments .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-comments .comment ion-icon {
    font-size: 12px;
}

.post-comments .comment p {
    margin-top: 5px;
    color: #262626;
}

.post-comments .comment p .username {
    font-weight: 500;
}

.add-comment {
    padding: 6px 15px;
    border-top: 1px solid #EFEFEF;
    display: flex;
    height: 50px;
}

.add-comment input {
    width: 100%;
    margin-right: 10px;
    outline: none;
    border: 0;
}

.add-comment button {
    color: #B2DFFC;
    background-color: inherit;
    border: 0;
    font-size: 14px;
    font-weight: 600;
}

.add-comment button:hover {
    cursor: pointer;
    color: #0095F6;
    transition: 300ms;
}

.sidebar {
    width: 293px;
    margin-top: 23px;
    position: fixed;
    transform: translate(calc(935px - 293px));
}

.sidebar .profile {
    display: flex;
}

.profile-picture img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
}

.profile-info {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

.profile-info h2 {
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-info h3 {
    font-weight: 300;
}

.suggestions {
    margin-top: 24px;
}

.suggestions-top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
}

.suggestions-top h2 {
    color: #8E8E8E;
}

.suggestions-top h3 {
    color: #262626;
}

.suggestion {
    margin: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestion img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.suggestion-info {
    display: flex;
    align-items: center;
}

.suggestion-user {
    margin-left: 10px;
}

.suggestion-user h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    color: #262626;
}

.suggestion-user h3 {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 5px;
}

.suggestion .follow-button {
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}

.sidebar .links,
.sidebar .copyright {
    margin-top: 26px;
    font-weight: 400;
    color: #C7C7C7;
    font-size: 11px;
    line-height: 12.89px;
}

.bottom-bar-mobile {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 54px;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    align-items: center;
}

.bottom-bar-icons {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}
